:root {
  --main-color: #3f7193;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(35, 47, 54);
}

.material-icons {
  line-height: 0;
  font-size: 170%;
}

.categories li a {
  color: black;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn:disabled:hover {
  cursor: not-allowed;
}
